body{background:#F2F3F4;color:#008080;text-align:center;}
#main{position:fixed;text-align:left;width:100%;height:60px;top:0;left:0;background-color:#008080;color:#F2F3F4;padding:10px;margin-bottom:60vh;z-index:3;}
#main{opacity:0.9;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
#main i,#main span{font-size: 25px;cursor: pointer;padding: 3px;}
#main i:hover,#main span:hover{color:#E52B50;}
header{margin-top:10%;}
.logo{height:50px;width:50px;margin:10px;cursor:pointer;}
.title{font-size:20px;cursor:pointer;}
.footer{position:absolute;bottom:5%;width:100%;}
.hr{border:1px ridge #008080;}
#infoContainer button[type="button"]:focus{
  border-color: rgba(0, 128, 128, 0.8);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 128, 128, 0.6);
  outline: 0 none;
}